<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性：用来指定当前的映射文件和那个接口进行映射
 需要指定接口的文件路径 需要标注包的完整性-->
<mapper namespace="com.king.blog.mapper.ArticleMapper">

    <resultMap id="article" type="com.king.blog.pojo.Article">
        <id column="id" property="id"></id>
        <result column="comment_counts" property="commentCounts"></result>
        <result column="create_date" property="createDate"></result>
        <result column="summary" property="summary"></result>
        <result column="title" property="title"></result>
        <result column="view_counts" property="viewCounts"></result>
        <result column="weight" property="weight"></result>
        <result column="author_id" property="authorId"></result>
        <result column="body_id" property="bodyId"></result>
        <result column="category_id" property="categoryId"></result>
    </resultMap>

    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        insert into ms_article(comment_counts, create_date, summary, title, view_counts, weight, author_id, body_id,
                               category_id)
        values (#{commentCounts}, #{createDate}, #{summary}, #{title}, #{viewCounts}, #{weight}, #{authorId},
                #{bodyId}, #{categoryId})
    </insert>


    <!--用户浏览量 Integer updateArticle(Integer articleUpdate, Integer viewCounts, Long id);-->
    <update id="updateArticle">
        update ms_article
        set view_counts = #{viewCounts1}
        where view_counts = #{viewCounts}
          and id = #{id}
    </update>

    <update id="updateById">
        update ms_article
        set comment_counts = #{commentCounts},
            create_date= #{createDate},
            summary        = #{summary},
            title          = #{title},
            view_counts    = #{viewCounts},
            weight         = #{weight},
            author_id      = #{authorId},
            body_id        = #{bodyId},
            category_id    =#{categoryId}
        where id = #{id}
    </update>

    <select id="selectAll" resultMap="article">
        select *
        from ms_article
    </select>

    <select id="selectPage" resultMap="article">
        select *
        from ms_article
        order by weight desc, create_date desc limit #{page}, #{pageSize}
    </select>

    <select id="selectPages" resultType="com.king.blog.pojo.Article">
        select *
        from ms_article
        <where>
            <if test="categoryId != null and categoryId != ''">
                and category_id = #{categoryId}
            </if>
            <if test="tagId != null and tagId != ''">
                and id in (select article_id from ms_article_tag where tag_id=#{tagId})
            </if>
            <if test="year != null and year.length>0 and month != null and month.length>0">
                and (FROM_UNIXTIME(create_date/1000,'%Y') =#{year} and FROM_UNIXTIME(create_date/1000,'%m')=#{month})
            </if>
        </where>
        order by weight desc, create_date desc limit #{page}, #{pageSize}
    </select>

    <!--查询最热文章-->
    <select id="selectsLimit" resultType="com.king.blog.pojo.Article">
        select id, title
        from ms_article
        order by view_counts desc limit #{limit}
    </select>


    <select id="findById" resultType="com.king.blog.pojo.Article">
        select *
        from ms_article
        where author_id = #{authorId}
    </select>
    <!--最新文章-->
    <select id="selectsLimits" resultType="com.king.blog.pojo.Article">
        select id, title
        from ms_article
        order by create_date desc limit #{limit}
    </select>
    <!--        <select id="listArchives" resultType="com.king.blog.vo.dos.Archives">-->
    <!--            select year (create_date) as year, month (create_date) as month, count (*) as count-->
    <!--            from ms_article-->
    <!--            group by year, month-->
    <!--        </select>-->
    <!--    <select id="listArchives" resultType="com.king.blog.vo.dos.Archives">-->
    <!--        select FROM_UNIXTIME(create_date / 1000, '%Y') as year,FROM_UNIXTIME(create_date/1000,'%m') as month,count(*) as count-->
    <!--        from ms_article-->
    <!--        group by year, month-->
    <!--    </select>-->

    <select id="listArchives" resultType="com.king.blog.vo.dos.Archives">
        select FROM_UNIXTIME(create_date / 1000, '%Y') as year,
        FROM_UNIXTIME(create_date/1000,'%m') as month,count(*) as count
        from ms_article
        group by year, month
    </select>


    <!--根据用户的id查询数据-->
    <select id="selectById" resultType="com.king.blog.pojo.Article">
        select *
        from ms_article
        where id = #{id}
    </select>


</mapper>








































