<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--namespace属性：用来指定当前的映射文件和那个接口进行映射
 需要指定接口的文件路径 需要标注包的完整性-->
<mapper namespace="com.king.blog.mapper.CategoryMapper">

    <!--查询全部-->
    <select id="selectAll" resultType="com.king.blog.pojo.Category">
        SELECT *
        FROM ms_category
    </select>

    <!--根据id 查询数据-->
    <select id="selectByCategoryId" resultType="com.king.blog.pojo.Category">
        select *
        from ms_category
        where id = #{id}
    </select>

    <!--根据文章查询数据-->
    <select id="selectAllById" resultType="com.king.blog.pojo.Category">
        select *
        from ms_category
        where id = #{id}
    </select>

</mapper>








































